.search-results-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 130px;
    border-bottom: 1px solid #dde0e4;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}


.result-card img {
    width: 170px;
    height: 100%;
}

.result-card-details {
    padding: 8px;
}

.result-card-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.result-card-item.item2 {
    padding: 8px 8px 8px 0;
}

.result-card-item.item2 h4 {
    font-weight: 500;
}

.result-card h2 {
    font-weight: 500;
}


@media only screen and (max-width:700px) {
    .result-card {
        height: 110px;
        justify-content: inherit;
    }

    .result-card img {
        width: 150px;
    }

    .result-card h2 {
        font-size: 14px;
    }

    .result-card p {
        font-size: 11px;
    }

    .result-card-item.item2 {
        display: none;
    }
}