.search-section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-bottom: 1px solid #dde0e4;
    width: 100%;
}

.search-details {
    margin-top: 10px;
}

.load-more {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.load-more button .loader-svg {
    width: 30px;
    height: 30px;
}


@media only screen and (max-width:700px) {}