.header {
    padding: 8px 0;
    background-color: var(--bg-header);
    box-shadow: 0 1px 0 0 #dde0e4;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container img {
    height: 35px;
    width: 150px;
}

.login-btn {
    background-color: #fff;
    border: 1px solid rgba(31, 122, 224, .3);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 6%);
    color: #1f7ae0;
}